<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MCompanyMapper">
	
	<select id="getCompanyDto" resultType="jp.co.sss.lms.dto.CompanyDto">
		SELECT * FROM m_company WHERE delete_flg = #{deleteFlg}
	</select>
</mapper>